<!--
    Author: Pierre Goiffon
    Source: https://jsfiddle.net/pgoiffon/8fs67agL/
    Licence: AGPL - https://www.itophub.io/page/terms-of-use
-->
<div class="body">
<p><b>iTop REST/JSON API Test</b></p>
<fieldset><legend>Server Parameters</legend>
<p>iTop Server URL: <input type="text" id="server_url" name="server_url" value="http://localhost/itop"/> (iTop server's URL, no trailing slash)<br/>
iTop Login: <input type="text" id="auth_user" name="auth_user" value="admin"/> Password: <input type="password" id="auth_pwd" name="auth_pwd" value=""/>
</p>
<p>API Version: <input type="text" id="version" name="version" value="1.0"/> <button type="button" onclick="return ListOperations()">List Operations</button></p>
<p>Use: <input type="radio" id="json" value="json" name="json"/><label for="json"> JSON</label>&nbsp;&nbsp;<input type="radio" id="jsonp" value="jsonp"  name="json" checked/><label for="jsonp"> JSON-P</label></p>
<p>
    </fieldset>
<fieldset><legend>Get Object</legend>
Class: <input type="text" id="get_class" value="Contact"/> Key: <input type="text" id="get_key" value="1"/> <button type="button" onclick="return GetObject()">Get Object</button>
</fieldset>
</p>
<p>
Result:<br/>
<pre>
<span id="result">
</span>
</pre>
</p>
</div>
<script src="jquery-3.3.1-min.js"></script>
<script src="itop-rest.js"></script>
