/*
    Author: Pierre Goiffon
    Source: https://jsfiddle.net/pgoiffon/8fs67agL/
    Licence: AGPL - https://www.itophub.io/page/terms-of-use
*/
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
.body { padding: 10px; font-size:10pt; font-family:Verdana, Arial, Helvetica; }
fieldset { padding: 10px; border: 1px #ccc solid; }
legend { padding: 10px; background-color: #fff; }
